
/* 
Headline Styles
*/

.headline 
{
  width: auto;
}



.main-headline
{
  background: url('../images/main-headline.jpg') no-repeat;
  width: 66%;
  float: left;;
}

.sub-headline
{
  float: left;
  width: 33%;
}

.sub-headline1
{
  background: url('../images/sub-headline1.png') no-repeat;
}

.sub-headline2
{
  background: url('../images/sub-headline2.jpg') no-repeat;
}