
/* 
Headline Styles
*/

header{
    height:100px; 
}

.header-top{
    height: 40%;
    background: #000;
    color: #fff;
}

.header-top article:first-child{
   float: left;
}
.header-top article:nth-child(2){
    float: right;
 }

.header-bottom{
    height: 60%;
}
.headline 
{
  width: auto;
  height: 400px;
}



.main-headline
{
  background: url('../images/main-headline.jpg') no-repeat;
  width: 63%;
  float: left;
  height: 100%;
  background-size: cover;
  position: relative;
  margin: 5px;
}

.overlay{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.35), rgba(0, 0, 0, 0.91));
}

.sub-headline
{
    margin: 5px;
  float: left;
  width: 30%;
  height: 100%;
}

.sub-headline1
{
    margin-bottom: 10px;
  height: 50%;
  background: url('../images/sub-headline1.png') no-repeat;
  background-size: cover;
}

.sub-headline2
{
 height: 50%;
  background: url('../images/sub-headline2.jpg') no-repeat;
  background-size: cover;
}