/* 
Misc
*/

a
{
  color: inherit;
}

.clear
{
  clear: both;
}



/* 
Header Styles
*/


header{
  height:100px; 
}

.header-top{
  height: 40%;
  background: #000;
  color: #fff;
  line-height: 34px;
}

.header-top article:first-child{
 float: left;
 margin-left: 20px;
}
.header-top article:nth-child(2){
  float: right;
}

.header-top a 
{
  margin-left: 12px;
}

.header-top a:first-child 
{
  margin-left: 0;
}



.header-bottom{
  padding-top: 20px;
  height: 60%;
}

article.social
{
  float: right;
}

nav
{
  display: inline-block;
}

nav li
{
  display: inline-block;
  padding-right: 12px;
  padding-left: 12px;
}

nav li:first-child
{
  padding-left: 20px;
}


.social i 
{

  padding-right: 12px;
  padding-left: 12px;
}

/* 
Spacer Style
*/

.spacer
{
  background: #ffc600;
  padding: 12px 20px;
  
}


/* 
Headline Styles
*/

.headline 
{
  width: auto;
  height: 400px;
}


.main-headline
{
  background: url('../images/main-headline.jpg') no-repeat;
  width: 63%;
  float: left;
  height: 100%;
  background-size: cover;
  position: relative;
  margin: 5px;
}

.overlay{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.35), rgba(0, 0, 0, 0.91));
}

.overlay .author
{
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}

.overlay div
{
  position: absolute;
  bottom: 220px;
  left: 20px;
  color: white;
  font-size: 40px;
}

.sub-headline
{
    margin: 5px;
  float: left;
  width: 30%;
  height: 100%;
}

.sub-headline1
{
    margin-bottom: 10px;
  height: 50%;
  background: url('../images/sub-headline1.png') no-repeat;
  background-size: cover;
}

.sub-headline2
{
 height: 50%;
  background: url('../images/sub-headline2.jpg') no-repeat;
  background-size: cover;
}

